@font-face {
    font-family: 'lato';
    src: url('fonts/lato/lato-regular-webfont.woff2') format('woff2'),
         url('fonts/lato/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    
}



@font-face {
    font-family: 'lato';
    src: url('fonts/lato/lato-bold-webfont.woff2') format('woff2'),
         url('fonts/lato/lato-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: ; /* swap:swaps text when available, fallback:swaps text but not if it takes 10 second, block:blocks the text(dont use), auto:auto, optional:optional for the browser to use */

}



body {
    margin: 10px;
    /* font-family: lato, Arial, Helvetica, sans-serif; */
    font-family: Roboto, Arial, Helvetica, sans-serif;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif */ /*This uses system default */
}

/* p {
    font-family: Arial, Helvetica, sans-serif; Inherited from Body
} */

h1 {
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

p {
    font-weight: bold; /* Thicknes of letter (Bold) */
    /* font-style: italic; Style of letter (Italic) */
    font-size: 1rem; /* 1rem is a relativ value and px is a absolute value */
    color: #333; /* 000 for black and higher number the more silver and pleasent */
}

a {
    font-family: lato /* a does not inherit style */
}