html * {
    box-sizing: border-box;
    font-family: "Roboto", Helvetica, sans-serif;
}

html {
    font-size: 100%;
}

p {
    width: 50ch;
    text-align: left;
    /* text-indent: 1rem; */
    /* text-decoration: underline; */
    /* text-transform: capitalize; */
    /* padding: 0.3rem; */
    /* white-space: nowrap; wrap keeps text in 1 line or nowrap text */
    /* overflow: hidden; Hides Text outside box */
    /* text-overflow: ellipsis; default clip or ellipsis for ... */
    column-count: 2; /* Text splits in 2 columns */
    column-gap: 2rem;
    column-rule: 0.2rem dotted gold;
}