html * {
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template: repeat(9, auto) / repeat(1, 100%);
    gap: 15px;
}

.image {
    width: 100%;
    border-radius: 2%;
    object-fit: fill;
}

@media screen and (min-width: 768px) {
    .container {
        grid-template: repeat(5, auto) / repeat(2, 49%);
    }
}

@media screen and (min-width: 1024px) {
    .container {
        grid-template: repeat(4, auto) / repeat(3, 32%);
    }
    .second-image {
        grid-row: span 2;
        grid-column: span 2;
    }
}