html,
body {
    box-sizing: border-box;
    margin: 0;
    font-size: 62.5%;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

.hero-section {
    background: url(img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-section-title {
    text-shadow: 0.2rem 0.2rem 0 black;
    font-weight: 900;
    font-size: 3rem;
    word-spacing: 0.5rem;
}

.hero-section-text {
    background-color: rgba(0, 0, 0, 0.6);
    font-weight: 300;
    font-size: 1.6rem;
    word-spacing: 0.5rem;
    padding: 1.5rem;
}

@media screen and (min-width: 720px) {
    .hero-section {
        background: url(img/banner@720.jpg) no-repeat;
        background-size: cover;
    }
    .hero-section-title {
        font-size: 4rem;
    }
    .hero-section-text {
        font-size: 2.2rem;
    }
}

@media screen and (min-width: 1280px) {
    .hero-section {
        background: url(img/banner@1280.jpg) no-repeat;
        background-size: cover;
    }
    .hero-section-title {
        font-size: 5rem;
    }
    .hero-section-text {
        font-size: 2.6;
    }
}

@media screen and (min-width: 1440px) {
    .hero-section {
        background: url(img/banner@1440.jpg) no-repeat;
        background-size: cover;
    }
    .hero-section-title {
        font-size: 6rem;
    }
    .hero-section-text {
        font-size: 3rem;
    }
}
